# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/database

# Configuración de CORS
CORS_ORIGINS=http://localhost:5173,https://crmactualizado-f9oy.vercel.app

# API Keys
OPENAI_API_KEY=your_openai_api_key_here

# JWT Config
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
